* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: blade;
}

@font-face {
    src: url("fonts/Lobster.ttf");
    font-family: Lobster;
}

@font-face {
    src: url("fonts/blade.ttf");
    font-family: blade;
}


.buttons {
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
  box-shadow: 0 3px 20px rgba(0,0,0,.5),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(0,0,0,.1),
  inset 0 0 20px rgba(0,0,0,.1);

  -webkit-transition: all 0.3s linear;
  -khtml-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.buttons:hover {
background-color: rgba(0,0,0,0.5)
}

.menu {
	display: flex;
	height: 100vh;
	flex-direction: column;
	background-image: url('img/fon.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.law {
	display: none;
	height: 100vh;
	background-image: url(img/fon2.png);
	background-size: cover;
	background-repeat: no-repeat;
	flex-direction: column;

}

.slide {
  margin: 20px;
}

.interface {
  background-image: url(img/interface.png);
  background-size: contain;
  background-repeat: repeat-x;
  height: 100vh;
}

.gametime {
  display: none;
  height: 100vh;
  background-image: url(img/fon3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#logotype {
	margin-bottom: 15px;
	font-family: blade;
	font-size: 200px;
	position: relative;
  left: 90vh;
	top: 2vh;
	color: rgba(198, 136, 147,1);
	text-shadow:0 0 70px white;
	padding: 4px;
}

#gameico {
  width: 200px;
  height: 200px;
  position: relative;
  left: 10vh;
}

#slide2 {
  display: none;
}

#slide3 {
  display: none;
}

#button_start {
  display: inline-block;
  margin: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-family: blade;
  font-size: 30px;
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
  justify-content: center;

  position: absolute;
  top: 35vh;
  left: 15vh;
}

#audio_btn {
  display: inline-block;
  margin: 20px;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  font-family: blade;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
  justify-content: center;
  position: relative;
  top: 2px;
}

#pause {
  display: inline-block;
  margin: 20px;
  width: 70px;
  height: 50px;
  position: relative;
  top: 2px;
}

#lawtext {
  color: white;
  font-size: 30px;
  text-shadow: 0 0 10px blue;
  font-family: Lobster;
}

#ok1 {
  display: inline-block;
	margin: 20px;
	width: 80px;
	height: 40px;
  border-radius: 20%;
  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
  font-family: blade;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#ok2 {
  display: inline-block;
  margin: 20px;
  width: 80px;
  height: 40px;
  border-radius: 20%;
  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
  font-family: blade;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#letsgo {
  margin: 20px;
  width: 100px;
  height: 60px;
  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
  border-radius: 20%;

  font-family: blade;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
}


